
root { 
    display: block;
}
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }  
body{
    background: url(../img/bg_tile.jpg);
    padding: 0px;
    margin: 0px;
    font-family : Arial , Helvetica , sans-serif ;
}

.banner{
    height: 126px;
    background-image:url(../img/banner_center.png);
    display:block;
    margin: auto;
    /* Por default se repite la imagen
     * pero lo hacemos explicito
    */
    background-repeat:repeat;
    width: 1200px;
    padding: 0px;
    font: bold 30px Verdana;
    text-shadow: 0.06em 0.06em 0.01em #000000;
    /*borde del contenedor*/
    border-radius: 5px;
    box-shadow: inset 0 0 1px #ccc;
    -o-box-shadow: inset 0 0 1px #ccc;
    -webkit-box-shadow: inset 0 0 1px #ccc;
    -moz-box-shadow: inset 0 0 1px #ccc;
    
}

.bannerEuro{
    height: 100px;
    background-image:url(../img/banner_center.png);
    display:block;
    margin: auto;
    /* Por default se repite la imagen
     * pero lo hacemos explicito
    */
    background-repeat:repeat;
    width: 1200px;
    padding: 0px;
    font: bold 26px Verdana;
    text-shadow: 0.06em 0.06em 0.01em #000000;
    /*borde del contenedor*/
    border-radius: 5px;
    box-shadow: inset 0 0 1px #ccc;
    -o-box-shadow: inset 0 0 1px #ccc;
    -webkit-box-shadow: inset 0 0 1px #ccc;
    -moz-box-shadow: inset 0 0 1px #ccc;
    
}


.titulos{
    display:block;
    font: bold 14px Verdana;
    color: #ffffff; 
    text-shadow: 0.06em 0.06em 0.01em #000000;
    /*top right botton left*/
    padding: 8px 0px 0px 15px;
    vertical-align: top;
    display: block;
    /*border-bottom: #666666 solid 1px;*/
    
}


.valores{
    padding: 0px;
    margin: 0px;
    text-align: right;
    font-size: 20px;
    text-shadow: 0.07em 0.07em 0.01em #000000;
}

td{
    padding: 0px;
    margin: 0px;
    alignment-adjust: central;
    border-collapse:collapse;
}

tr{
    border-collapse:collapse;
}

.imgRate{
    alignment-adjust: center;
    vertical-align: central;
    text-align: left;
    padding: 0px;
    float: right;
    border: 0px;
    padding-right: 0px;
}

.imgRateBo{
    alignment-adjust: center;
    vertical-align: central;
    float: left;
    border: 0px;
   
}

